*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}
.container{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    height: 3rem;
}
.fitness{
    color: white;
    padding-top: 1.2rem;
    font-size: 1.3rem;
}
.anchor>a{
    text-decoration: none;
    color: white;
    padding-right: 2rem;
}
a:hover{
    text-decoration: underline;
}
.anchor{
    margin-top: 1.2rem;
}
.fitnessgym{
    background-color: rgb(229, 221, 221);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem ;
}
.exerciseimage>img{
    width: 19rem;
}
.welcome{
    padding-top: 9rem;
}
.welcome>p{
    font-size: 1.7rem;
}
#gym{
    color: rgb(135, 50, 135);
}
.bodyweight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14rem;
}
.bodyweightworkout>img{
     width: 30rem;
     height: 25rem;

}
.bodyweightworkout{
    margin-right: 4rem;
    margin-left: 4rem;
}
.secondimage>img{
    width:30rem ;
    height: 25rem;
}
.loseweight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14rem;
    margin-bottom: 14rem;
}
.end{
    background-color: grey;
    height: 70px;
}
.end>p{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.nutrition>img{
    width: 60rem;
    height: 35rem;
}
.nutrition{
    margin: 3rem;
    margin-bottom: 6rem;
}
#bestfoods{
    text-align: center;
    font-size: 1.5rem;
}
.firstdiet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12rem;
    margin-left: 2rem;
}
.images>img{
    width: 35rem;
    margin-right: 4rem;
}
#parra{
    line-height: 1.5rem;
}
.images1>img{
        height: 30rem;
        margin-right: 4rem;
}
.heading{
    text-align: center;
    margin: 3rem;
}
#parra1{
    line-height: 1.5rem;
    margin-right: 2.5rem;
}

